.container {
    display: flex;
    justify-content: space-between;
    width: 350px; 
    height: 100px; 
    border: 1px solid #000; 
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 5px; 
}

.edition-buttons {
    display: flex;
    justify-content: flex-end;
}

