.container {
    display: flex;
    justify-content: space-between;
    width: 450px; 
    height: 150px; 
    border: 1px solid #000; 
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 5px; 
}

.edition-buttons {
    display: flex;
    justify-content: flex-end;
}

.client-container {
    height: 110px;
}
